.Header {
  width: 109.7rem;
}

.Tab {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  z-index: 1;
}

.Tab > :hover {
  cursor: pointer;
}

.Tab > h3 {
  width: 75px;
  height: 30px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;

  margin: 1rem;
  padding-bottom: 0.2rem;
}

.Tab > img {
  margin-left: 5rem;
}

.Home {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 600px) {
  .Burger {
    position: absolute;
    transform: scaleX(-1);
    left: 21rem;
    top: 2.5rem;
    z-index: 2;
  }

  .Line {
    border: 1px solid white;
    width: 1.5rem;
    margin: 0.5rem;
  }

  .Short {
    width: 0.75rem;
  }

  .Menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    top: 22rem;
    left: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 5%;
  }

  .Menu > h3 {
    width: 75px;
    height: 30px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: left;

    color: #ffffff;
    margin: 1rem;
    padding-left: 0.5rem;
  }

  .Menu > img {
    width: 2rem;
    margin: 1rem;
  }

  .Home {
    border-bottom: 0px solid white;
    border-left: 1px solid white;
  }

  .Socials {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 8rem;
  }
}
