.Display {
  display: flex;
  margin-top: 10rem;
  margin-left: 10rem;
}

.Intro {
  color: white;
  z-index: 1;
}

.Intro > h1 {
  width: 393px;
  height: 158px;
  left: 287px;
  top: 211px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 79px;

  color: #ffffff;

  margin: 1rem;
}

.Intro > p {
  width: 524px;
  height: 81px;
  left: 287px;
  top: 403px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: rgba(255, 255, 255, 0.9);

  margin: 1rem;
}

.Picture {
  position: absolute;
  left: 62rem;
  top: 9rem;
  width: 50rem;
  height: 50rem;
  overflow: hidden;
}

.Stairs {
  position: relative;
  width: 80rem;
  top: -10rem;
  left: -22rem;
}

.Astro {
  position: relative;
  width: 22rem;
  top: -60rem;
  left: -2rem;
}

@media only screen and (max-width: 600px) {
  .Intro {
    position: absolute;
    left: 2rem;
    top: 23.5rem;
  }

  .Intro > h1 {
    width: 5px;
    height: 100px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin: 0rem;
  }

  .Intro > p {
    width: 350px;
    height: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 0rem;
  }

  .Picture {
    width: 22.7rem;
    height: 33rem;
    left: 3rem;
    top: 8.5rem;
  }

  .Stairs {
    position: relative;
    width: 55rem;
    top: -8rem;
    left: -15rem;
  }

  .Astro {
    position: relative;
    width: 15rem;
    top: -42rem;
    left: -1rem;
  }
}
