.Side {
  display: flex;
  flex-direction: column;
  width: 165px;
  border-right: 1px solid white;
}

.Title {
  width: 161px;
  height: 61px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 48px;
  line-height: 72px;
  text-align: center;

  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 38rem;
}

.Socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.Socials > img {
  margin: 1.5rem;
  filter: brightness(75%);
}

.Socials > img:hover {
  cursor: pointer;
  filter: brightness(100%);
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .Side {
    width: 0px;
    border-right: 0px solid white;
  }

  .Title {
    margin-top: 1rem;
  }
}
