.Side {
  display: flex;
  flex-direction: column;
  width: 165px;
  border-right: 1px solid white;
}

.Title {
  width: 161px;
  height: 61px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: bolder;
  font-size: 48px;
  line-height: 72px;
  text-align: center;

  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 38rem;
}

.Socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.Socials > img {
  margin: 1.5rem;
  filter: brightness(75%);
}

.Socials > img:hover {
  cursor: pointer;
  filter: brightness(100%);
  transform: scale(1.05);
}
